/* Global Styles */

:root {
  --background-color: #e5e8e8;
  --primary-green: #009e60;

  --btn-border-radius: 0.3rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background-color);
}

.landing-container {
  display: flex;
  flex-direction: row;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 12rem;
  margin-top: 1.2rem;
  background-color: white;
  border-radius: 0.8rem;
  border-top: 1rem solid var(--primary-green);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.register-form {
  margin: 2.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.register-form h1 {
  font-size: 2.5rem;
}

.form-label {
  font-size: 1.2rem;
}

.form-input {
  display: block;
  margin-bottom: 2rem;
  margin-top: 1.1rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.logo-container {
  width: 50%;
}

.landing-logo {
  height: 90vh;
}

.submit-btn {
  width: 100%;
  border-radius: var(--btn-border-radius);
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background-color: var(--primary-green);
  border: transparent;
  cursor: pointer;
}

.not-buddy-btn {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-size: large;
  text-decoration: underline var(--primary-green);
}
